.about {
  padding-bottom: 94px;

  @media screen and (max-width: 1199px) {
    display: none;
  }
}

.about__title {
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.about__list {
  display: flex;
  list-style: none;
}

.about__item {
  position: relative;
}

.about__item:not(:last-child) {
  margin-right: 30px;
}
.about__text {
  display: block;
  position: absolute;
  width: 370px;
  height: 70px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(48, 48, 58, 0.8);

  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: 700;
  color: var(--primary-white-color);
  line-height: 1.14;
  text-transform: uppercase;
}
