.logo {
  display: block;
  color: var(--logo-text-color);
  text-decoration: none;
  font-family: Raleway;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.19;
  text-decoration: none;
  span {
    color: var(--accent-color);
  }

  // @media screen and (min-width: 768px) {
  //   padding: 0;
  // }
  // @media screen and (min-width: 1200px) {
  //   margin-right: 93px;
  // }
}

.logo__position {
  @media screen and (max-width: 767px) {
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 15px;
  }

  @media screen and (min-width: 768px) {
    padding-top: 26px;
    padding-bottom: 26px;
    margin-left: auto;
    margin-right: 88px;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 24px;
    padding-bottom: 25px;
    margin-right: 93px;
    margin-left: 0;
  }
}

.logo--white {
  display: inline-block;
  margin-right: 0;
  margin-bottom: 20px;
  color: var(--primary-white-color);
}
