.social {
  display: flex;
  text-decoration: none;
  justify-content: center;
  margin-top: 16px;
  list-style: none;
}

.social__item:not(:last-child) {
  margin-right: 10px;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #afb1b8;

  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:focus,
  &:hover {
    background-color: var(--accent-color);
    color: var(--primary-white-color);
  }
}

.social__icon {
  fill: currentColor;
}
