:root {
  --primary-color: #212121;
  --second-color: #757575;
  --logo-text-color: #000000;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;

  --items: 1;
  --indent: 30px;

  --bordered: 4px;
}
